html {
    line-height: 1.2;
    font-size: 62.50%;
}

body {
    font-family: "Open Sans";
    font-size: 1.6rem;
    color: #4f4f4f;
    margin: 0 auto;
    max-width: 1200px;
    border: 1px solid black;
}

span {
    color: #f9cb47;
}

h2 .fas {
    margin-right: 40px;
    font-size: 130%;
    color: #f9cb47;
}

.date .fas,
.date .far {
    margin-right: 10px;
    color: #f9cb47;
}


/*--------------------------------------------- 
--------------- flex container-----------------
-----------------------------------------------*/

.conteneur {
    display: flex;
    flex-direction: row-reverse;
}

.flex_right_column {
    flex: 70%;
    padding: 10px 50px;
    line-height: 15px;
    margin: 0px 15px 0px 0px;
}

.flex_left_column {
    flex: 30%;
    background-color: #f9cb47;
    padding: 10px 0px;
}


/*--------------------------------------------- 
--------------- left header image--------------
-----------------------------------------------*/

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.img img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 2px solid #ffffff;
}


/*--------------------------------------------- 
--------------- right header image--------------
-----------------------------------------------*/

.name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.6em;
}

header h1 {
    margin-bottom: 0;
}

span.dev {
    border-bottom: 2px solid #f9cb47;
    padding: 5px;
    color: #4f4f4f;
}


/*--------------------------------------------- 
--------------- main---------------------------
-----------------------------------------------*/

.date {
    background-color: white;
    display: flex;
    align-items: baseline;
}

h2 {
    text-align: left;
    border-bottom: 2px solid #f9cb47;
    padding: 0px 0px 7px 0px;
    font-size: 1.9em;
}

h3 {
    font-weight: bold;
    margin-bottom: 0px;
    text-transform: uppercase;
}

h4 {
    margin-bottom: 0px;
    margin-top: 8px;
    text-transform: uppercase;
    font-weight: normal;
}

.article_right p {
    margin-top: 8px;
}


/*---------------------------------------------- 
--------------- recommandation flex -------------
-----------------------------------------------*/

#flex_recommandation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    padding-bottom: 30px;
}

.recommandation_right {
    margin-right: 85px;
}


/*--------------------------------------------- 
---------------aside---------------------------
-----------------------------------------------*/

.aside h3 {
    background-color: #404040;
    color: #f9cb47;
    text-align: center;
    padding: 5px 0px;
    font-size: 1.6em;
    text-transform: uppercase;
}

.contact {
    padding: 10px 40px;
}

.apropos {
    margin-bottom: 160px;
    padding-bottom: 100px
}

.contact p {
    text-align: justify;
}

.loisirs {
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}

.loisirs i {
    border: 1px solid #404040;
    width: 48px;
    height: 45px;
    border-radius: 35px;
    padding: 13px 0px 0px 13px;
}


/*--------------------------------------------- 
--------------- responsive design --------------
-----------------------------------------------*/

@media only screen and (max-width: 1090px) {
    .conteneur {
        display: flex;
        flex-direction: column-reverse;
    }
    aside,
    header {
        width: 100%;
        background-color: #f9cb47;
    }
    .flex_right_column.main,
    .flex_left_column.main {
        width: 90%;
        margin: 0 auto;
    }
    .flex_right_column.article_right,
    .flex_right_column.main {
        padding: 0px;
    }
    .recommandation_right {
        padding-right: 0px;
        margin-right: 0px;
    }
    .loisirs {
        margin-bottom: 15px;
    }
    h1 {
        display: flex;
        justify-content: center;
        font-size: inherit;
        ;
    }
    h1 span {
        margin-right: 10px;
        color: #4f4f4f;
    }
    h2 .fas {
        margin-right: 2px;
    }
    h2 {
        font-size: 16px;
    }
    span.dev {
        border-bottom: none;
    }
    .name p {
        font-size: 19px;
        text-align: center;
    }
}

@media only screen and (max-width: 570px) {
    #flex_recommandation {
        display: flex;
        flex-direction: column;
        word-wrap: break-word;
    }
    h3,
    H4 {
        line-height: initial;
    }
}