html {
    line-height: 1.2;
    font-size: 62.50%;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans";
    font-size: 1.6rem;
    color: #4f4f4f;
    margin: 0 auto;
    max-width: 1200px;
}

span {
    color: #f9cb47;
}

h2 .fas {
    margin-right: 40px;
    font-size: 130%;
    color: #f9cb47;
}

.date .fas,
.date .far {
    margin-right: 10px;
    color: #f9cb47;
}


/*color: #efa100;*/


/*--------------------------------------------- 
--------------- flex container-----------------
-----------------------------------------------*/

.conteneur {
    display: flex;
    flex-direction: row-reverse;
}

.header_right {
    text-align: center;
    padding: 4rem 0rem;
    background-color: #efa100;
    margin-bottom: 7rem;
}

.flex_right_column {
    flex: 75%;
    padding: 10px 20px 10px 20px;
    margin-top: Arem;
    /* background-color: #efa100; */
}

.flex_right_column_header {
    flex: 70%;
    padding: 10px 20px 10px 20px;
    /* background-color: #efa100; */
}

.flex_left_column_header {
    flex: 30%;
    /* background-color: #efa100; */
}

.content {
    padding-left: 2rem;
}

.flex_left_column {
    flex: 25%;
    background-color: #efa100;
    padding: 10px 0px;
    position: relative;
}


/*--------------------------------------------- 
--------------- left header image--------------
-----------------------------------------------*/

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 18px;
    padding-bottom: 4rem;
}

.img img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 2px solid #ffffff;
}


/*--------------------------------------------- 
--------------- right header image--------------
-----------------------------------------------*/

span.dev {
    border-bottom: 2px solid #f9cb47;
    padding: 5px;
    color: #4f4f4f;
}


/*--------------------------------------------- 
--------------- main---------------------------
-----------------------------------------------*/

.date {
    background-color: white;
    display: flex;
    align-items: baseline;
}

.competences p {
    margin-left: 6rem;
}

h5 {
    margin-bottom: 0;
    padding-left: 1rem;
    font-size: 1.7rem;
}

span {
    color: #29261c;
    margin-right: 0.5rem;
}

h2 {
    padding: 0px 0px 7px 0px;
    border-bottom: 4px solid #efa100;
    font-size: 20px;
    text-align: end;
}

h3 {
    font-weight: bold;
    text-transform: uppercase;
    color: black;
}

h4 {
    margin-bottom: 0px;
    margin-top: 8px;
    font-weight: 600;
}

.article_right p {
    margin-top: 8px;
}


/*--------------------------------------------- 
---------------aside---------------------------
-----------------------------------------------*/

.aside h3 {
    background-color: #404040;
    color: #efa100;
    text-align: center;
    padding: 12px 0px;
    font-size: 1em;
    text-transform: uppercase;
}

.contact {
    padding: 10px 40px 97px 40px;
}

.apropos {
    padding-bottom: 100px
}

.formation {
    padding: 0px 40px;
    margin-top: 3rem;
}

.container_formation {
    margin-bottom: 5rem;
}

.container_loisirs {
    position: absolute;
    bottom: 20px;
    width: 100%;
}

.formation h5 {
    font-size: 1.7rem;
    color: #73113e;
    text-align: end;
    font-size: 1.6rem;
}

.formation p {
    margin: 0;
    text-align: end;
}

.loisirs {
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}

.loisirs i {
    border: 1px solid #404040;
    width: 48px;
    height: 45px;
    border-radius: 35px;
    padding: 13px 0px 0px 13px;
}


/*--------------------------------------------- 
--------------- responsive design --------------
-----------------------------------------------*/

@media only screen and (max-width: 1090px) {
    .conteneur {
        display: flex;
        flex-direction: column-reverse;
    }
    aside,
    header {
        width: 100%;
        background-color: #f9cb47;
    }
    .flex_right_column.main,
    .flex_left_column.main {
        width: 90%;
        margin: 0 auto;
    }
    .flex_right_column.article_right,
    .flex_right_column.main {
        padding: 0px;
    }
    .recommandation_right {
        padding-right: 0px;
        margin-right: 0px;
    }
    .loisirs {
        margin-bottom: 15px;
    }
    h1 {
        display: flex;
        justify-content: center;
        font-size: inherit;
        ;
    }
    h1 span {
        margin-right: 10px;
        color: #4f4f4f;
    }
    h2 .fas {
        margin-right: 2px;
    }
    h2 {
        font-size: 16px;
    }
    span.dev {
        border-bottom: none;
    }
    .name p {
        font-size: 19px;
        text-align: center;
    }
}

@media only screen and (max-width: 570px) {
    #flex_recommandation {
        display: flex;
        flex-direction: column;
        word-wrap: break-word;
    }
    h3,
    H4 {
        line-height: initial;
    }
}